.header{
	color: #fff;
	position: relative;
	background:rgba(0,17,27,0.5);
	overflow: hidden;
}
.content-wrapper{
	padding: 24px 12px 18px 24px;
	font-size: 0;
	position: relative;
}
.content-wrapper .avatar{
	display: inline-block;
	vertical-align: top;
}
.content-wrapper .content{
	display: inline-block;
	margin-left: 16px;
}
.content-wrapper .title{
	margin: 2px 0 8px 0;
}
.content-wrapper .brand{
	width: 30px;
	height: 18px;
	display: inline-block;
	background-image: url(../../components/header/brand@2x.png);
	background-size: 30px 18px;
	background-repeat: no-repeat;
	vertical-align: top;
}
.content-wrapper .title .name{
	margin-left: 6px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	display: inline-block;
}
.content-wrapper .description{
	margin-bottom: 10px;
	line-height: 12px;
	font-size: 12px;
}
.content-wrapper .icon{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	margin-right: 4px;
	vertical-align: top;
}
.content-wrapper .icon.decrease{
	background-image: url(../../components/header/decrease_1@2x.png);
}
.content-wrapper .icon.discount{
	background-image: url(../../components/header/discount_1@2x.png);
}
.content-wrapper .icon.guarantee{
	background-image: url(../../components/header/guarantee_1@2x.png);
}
.content-wrapper .icon.invoice{
	background-image: url(../../components/header/invoice_1@2x.png);
}
.content-wrapper .icon.special{
	background-image: url(../../components/header/special_1@2x.png);
}
.content-wrapper .text{
	font-size: 10px;
	line-height: 12px;
}
.support-count{
	position: absolute;
	right: 12px;
	bottom: 14px;
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
	border-radius: 14px;
	background:rgba(0,0,0,0.2);
	text-align: center;
}
.content-wrapper .count{
	font-size: 10px;
}
.content-wrapper .content-wrapper .icon-keyboard_arrow_right{
	font-size: 10px;
	line-height: 24px;
	margin-left: 2px;
}
.bulletin-wrapper{
	height: 28px;
	line-height: 28px;
	padding: 0 22px 0 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: rgba(7,17,27,0.2);
}
.bulletin-title{
	display: inline-block;
	vertical-align: top;
	width: 22px;
	height: 12px;
	background-image: url(../../components/header/bulletin@2x.png);
	background-size: 22px 12px;
	background-repeat: no-repeat;
	margin-top: 8px;
}
.bulletin-text{
	vertical-align: top;
	font-size: 10px;
	margin:0 4px;
}
.bulletin-wrapper .icon-keyboard_arrow_right{
	position: absolute;
	font-size: 10px;
	right: 12px;
	top: 8px;
}
.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
.detail{
	position: fixed;
	top: 0;
	left:0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(7,17,27,0.8);
	transition: all 1s
}
.fade-enter-active{
	opacity: 1;
}
.fade-enter{
	opacity: 0;
}
.fade-leave-active{
	opacity: 0;
}
.detail .detail-wrapper{
	min-height: 100%;
	width: 100%;
}
.detail .detail-main{
	margin-top: 64px;
	padding-bottom: 64px;
}
.detail .detail-close{
	position: relative;
	width: 32px;
	height: 32px;
	margin:-64px auto 0 auto;
	clear: both;
	font-size: 32px;
}
.detail .detail-main .name{
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}
.detail .star-wrapper{
	margin-top: 18px;
	padding: 2px 0;
	text-align: center;
}
.detail .title{
	display: flex;
	width: 80%;
	margin:28px auto 24px auto;
}
.detail .title .line{
	flex: 1;
	position: relative;
	top: -6px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.detail .title .text{
	padding: 0 12px;
	font-size: 14px;
	font-weight: 700;
}
.detail .supports{
	width: 80%;
	margin:0 auto;
}
.detail .supports .support-item{
	padding: 0 12px;
	margin-bottom: 12px;
	font-size: 0;
}
.detail .supports .support-item:last-child{
	margin-bottom: 0;
}
.detail .supports .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin-right: 6px;
	background-size: 16px 16px;
	background-repeat: no-repeat;	
}
.detail .supports .icon.decrease{
	background-image: url(../../components/header/decrease_2@2x.png);
}
.detail .supports .icon.discount{
	background-image: url(../../components/header/discount_2@2x.png);
}
.detail .supports .icon.guarantee{
	background-image: url(../../components/header/guarantee_2@2x.png);
}
.detail .supports .icon.invoice{
	background-image: url(../../components/header/invoice_2@2x.png);
}
.detail .supports .icon.special{
	background-image: url(../../components/header/special_2@2x.png);
}
.detail .supports .text{
	font-size: 12px;
	line-height: 16px;
}
.detail .bulletin{
	width: 80%;
	margin:0 auto;
}
.detail .bulletin .content{
	padding: 0 12px;
	line-height: 24px;
	font-size: 12px;
}