.star{
	font-size: 0;
}
.star .star-item{
	display: inline-block;
	background-repeat: no-repeat;
}
.star.star-48 .star-item{
	width: 20px;
	height: 20px;
	margin-right: 22px;
	background-size: 20px 20px;
}
.star.star-48 .star-item:last-child{
	margin-right: 0;
}
.star.star-48 .star-item.on{
	background-image: url(../../components/star/star48_on@2x.png);
}
.star.star-48 .star-item.half{
	background-image: url(../../components/star/star48_half@2x.png);
}
.star.star-48 .star-item.off{
	background-image: url(../../components/star/star48_off@2x.png);
}
.star.star-36 .star-item{
	width: 15px;
	height: 15px;
	margin-right: 6px;
	background-size: 15px 15px;
}
.star.star-36 .star-item:last-child{
	margin-right: 0;
}
.star.star-36 .star-item.on{
	background-image: url(../../components/star/star36_on@2x.png);
}
.star.star-36 .star-item.half{
	background-image: url(../../components/star/star36_half@2x.png);
}
.star.star-36 .star-item.off{
	background-image: url(../../components/star/star36_off@2x.png);
}
.star.star-24 .star-item{
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background-size: 10px 10px;
}
.star.star-24 .star-item:last-child{
	margin-right: 0;
}
.star.star-24 .star-item.on{
	background-image: url(../../components/star/star24_on@2x.png);
}
.star.star-24 .star-item.half{
	background-image: url(../../components/star/star24_half@2x.png);
}
.star.star-24 .star-item.off{
	background-image: url(../../components/star/star24_off@2x.png);
}